@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
  width: 100%;
  position: fixed; /* Fix for iOS bounce/scroll issues in some cases, verify if needed, usually simple overflow-x: hidden is enough but position fixed helps PWA */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#root {
  min-height: 100vh;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
